<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Fast Foot Customers Rule!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{/placeOrder}" method="post" id="orderForm" name="orderForm">
			<div class="form-group">
				<label for="productsAutocomplete">Select a Product</label> 
				<input class="form-control col-lg-8" id="productsAutocomplete" th:value="${productString}" size="60" />
				<input type="hidden" name="productId" id="productId" th:value="${productId}"  />
			</div> 
			 <div class="form-group">
				<label for="customerAutocomplete">Select a Customer</label>
				<input class="form-control col-lg-8" id="customerAutocomplete" size="60" />
				<input type="hidden" name="customerId" id="customerId" value="" />
			</div>
			<div class="form-group">
				<label for="quantity">Specify a Quantity</label>
				<input class="form-control col-lg-8" name="quantity" id="quantity" size="60" />
			</div>
			<br/>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>