<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<title>Fastfoot Shoes Entry System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" th:src="@{js/gf-repo-counts.js}"></script>
	<script type="text/javascript" th:src="@{js/gf-highchart.js}"></script>
	<script type="text/javascript" th:src="@{js/gf-lowstock-interest.js}"></script>

	
	<!-- UI for the Registered Interest Widget -->
	<script id="entry-template" type="text/x-handlebars-template">
  		<div id="eventList" class="alertList">
				<table class="table table-condensed">
				{{#each eventList}}
					<tr>
						<td><a href="/collectOrder?id={{this.value.id}}">{{this.value.brand}} : {{this.value.type}} = {{this.value.stockOnHand}} remaining</a></td>
					</tr>
 				{{/each}}
				</table>
		</div>
	</script>
</head>
<body>
	<div layout:fragment="content">
		<!-- Open Widget Row -->
		<div class="row">
			<!-- Missed Orders Widget -->
			<div class="col-md-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Back Orders</h3>
					</div>
					<div id="missedOrders" style="height:150px" class="alert"><i class='fa fa-spinner fa-spin'></i></div>
				</div>
			</div>
			<!-- Stock By Brand Widget -->
			<div class="col-md-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Stock By Brand</h3>
					</div>
					<div id="stockByBrand" style="height:150px" class="alert"><i class='fa fa-spinner fa-spin'></i></div>
				</div>
			</div>
			<!-- stock by type widget -->
			<div class="col-md-4">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Stock By Type</h3>
					</div>
					<div id="stockByType" style="height:150px" class="alert"><i class='fa fa-spinner fa-spin'></i></div>
				</div>
			</div>
		<!-- Close the Widget Row -->
		</div>
		<!-- Open the Stock alert and chart panel -->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">The Following Products Are Low On Stock</h3>
					</div>
					<div id="eventList" class="alertList">
						<h4>No Product Stock Warnings</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="chart"></div>
			</div>
		<!-- Close the Stock alert and chart panel -->
		</div>
	</div>
</body>
</html>