<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fast Foot Shoes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="orderbuttonsRow">
			<a href="/collectOrder" class="btn btn-default btn-lg btn-block orderbutton" role="button">Place an Order</a>
		</div>
		<div class="orderbuttonsRow">
			<a href="/listAllOrders" class="btn btn-default btn-lg btn-block orderbutton" role="button">Show All Orders</a>
		</div>
		<div class="orderbuttonsRow">
			<a href="/listAllOpenOrders" class="btn btn-default btn-lg btn-block orderbutton" role="button">Show All Open Orders</a>
		</div>
	</div>
</body>
</html>