<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fast Foot Shoes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-8">
				<a href="/listAllProducts?inStock=false" class="btn btn-default" role="button">Show All
					Products</a>
				<a class="btn btn-default" role="button">Show All Products In Stock</a>
			</div>
		</div>

		<form role="form" action="#" th:action="@{/listSpecificProducts}"
			method="get">
			<div class="form-group">
				<label for="exampleInputEmail1">Brand</label>
				<select class="form-control" name="brand" id="brand">
					<option id="brand">Adidas</option>
					<option id="brand">Nike</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Type</label>
				<select class="form-control" name="type" id="type">
					<option>Running</option>
					<option>Soccer</option>
					<option>Basketball</option>
					<option>Training</option>
					<option>Tennis</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputFile">Gender</label>
				<select class="form-control" name="gender" id="gender">
					<option value="M">Male</option>
					<option value="F">Female</option>
				</select>
			</div>
			<div class="checkbox">
				<label> <input type="checkbox" name="inStock" id="inStock"/> Only show products in stock
				</label>
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
</body>
</html>